@page "/"
@layout NullLayout

<div class="h-screen overflow-y-auto bg-[#161616]">
    <!-- Header -->
    <header class="fixed left-0 top-0 mt-1 flex w-screen items-center justify-between px-[7%] py-5">
        <div class="bg-transparent bg-clip-text text-4xl font-semibold " style="background-image: -webkit-linear-gradient(0deg, rgb(0, 238, 255) 40%, rgb(31, 90, 110) 100%); background-clip: text; -webkit-text-fill-color: transparent;">
            Final Exam
        </div>
        <a class="blue-button rounded-md bg-[--primary-8] text-white hover:brightness-90">
            Join Waitlist
        </a>
    </header>

    <!-- Main Content -->
    <div class="flex flex-col items-center pt-[12%]">
        <span class="text-[60px] font-bold text-white">Open Source</span>

        <span class="landing-gradient-text ml-3 text-[60px] font-bold leading-none">
            CRUD Application
        </span>

        <div class="mt-14 text-xl font-medium text-[rgba(255,255,255,.7)]">
            Buld fast. Maintain control. Lightweight
        </div>

        <!-- Button Section  -->
        <div class="mt-[5%] flex w-full justify-between sm:px-[30%] xl:px-[40%]">
            <a class="blue-button gap-2 rounded-3xl bg-[--primary-8] text-white hover:brightness-90" href="login">
                <span class=" relative text-xl">
                    <svg stroke="currentColor" fill="currentColor" stroke-width="0" viewBox="0 0 24 24" height="1em" width="1em" xmlns="http://www.w3.org/2000/svg"><path fill="none" d="M0 0h24v24H0z"></path><path d="M11 7L9.6 8.4l2.6 2.6H2v2h10.2l-2.6 2.6L11 17l5-5-5-5zm9 12h-8v2h8c1.1 0 2-.9 2-2V5c0-1.1-.9-2-2-2h-8v2h8v14z"></path></svg>
                </span>
                Login now
            </a>
            
            <a class="hidden" href="dashboard">
            </a>
            
            <a class="blue-button gap-2 rounded-3xl bg-[--primary-8] text-white hover:brightness-90" href="sign-up">
                Register
                <svg stroke="currentColor" fill="currentColor" stroke-width="0" viewBox="0 0 256 512" height="1em" width="1em" xmlns="http://www.w3.org/2000/svg"><path d="M224.3 273l-136 136c-9.4 9.4-24.6 9.4-33.9 0l-22.6-22.6c-9.4-9.4-9.4-24.6 0-33.9l96.4-96.4-96.4-96.4c-9.4-9.4-9.4-24.6 0-33.9L54.3 103c9.4-9.4 24.6-9.4 33.9 0l136 136c9.5 9.4 9.5 24.6.1 34z"></path></svg>
            </a>
        </div>

        <!-- Built by Section -->
        <div class=" pt-[12%] font-medium text-[#999]">Build by using</div>

        <div class="mt-4 flex flex-row gap-4">
            <img src="images/net.svg" alt="net"/>
            <img src="images/csharp.svg" alt="csharp"/>
            <img src="images/blazor.svg" alt="blazor"/>
            <img src="images/tailwind.svg" alt="tailwind"/>
            <img src="images/postqres.svg" alt="postqres"/>
        </div>
    </div>

</div>

@code {
    
}